* {
  box-sizing: border-box;
}
body {
 font-family: 'Mulish', sans-serif;
 font-style: 16px;font-weight: 400;
}
header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
  margin-bottom: 50px;
}
.menu-button {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}
.menu-line {
  display: block;
  background: #1f2022;
  width: 20px;
  height: 3px;
  border-radius: 20px;
}
.input-search {
  background-color: transparent;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 23px;
  padding-right: 23px;
  width: 100%;
}
.input-group {
  background-color: #ebebeb;
  border-radius: 22px;
  margin-left: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 17px;
  max-width: 830px;
  width: 50%;
}
.button-search {
  padding: 0;
  border: none;
  height: 19px;
  width: 19px;
  background: transparent;
  cursor: pointer;
}
.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.icon-search {
  fill: #000;
}
.icons-link {
  text-decoration: none;
  opacity: 0.24;
  fill: #000;
}
.icons-link:hover {
  opacity: 0.7;
}
.icons-link:not(:last-child) {
  margin-right: 50px;
}
.user {
  margin-left: 45px;
}
.user-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.sidebar{
  padding-left: 32px;
}
.nav-menu{
  margin-top: 0%;
  margin-bottom: 60px;
  padding-left: 0%;
  list-style-type: none;
}
.link{
      color: #898989;
    text-decoration: none;
      display: flex;
}
.nav-item .icon{
  fill: #898989;
}
.nav-item{
  color: #000;
  margin-bottom: 28px;
}

.nav-text{
  color: #898989;
  margin-left: 13px;
  text-decoration: none;
  list-style-type: none;
}
.nav-link{
   text-decoration: none;
   display: flex;
   color: #898989;
   align-items: center;
}
.nav-text:hover {
  color: #FF0000;
}
.link:hover .icon{
  fill: #FF0000;
}
.nav-image{
  height: 26px;
  width: 26px;
  border-radius: 50%;
  list-style-type: none;
}
.nav-title{
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 23px;
margin-bottom: 30px;
}
